th {

    text-shadow: 0px 0px 1vw #efe0eb;
    font-size: 2vw;
    font-weight: 400;
    font-family: Inconsolata;
    text-align: left;
    cursor: default;

}
td {

    text-shadow: 0px 0px 1vw #efe0eb;
    font-size: 1vw;
    font-weight: 400;
    font-family: Inconsolata;
    text-align: left;
    cursor: default;
    position: relative;

}
tr {

    height: 3vw;

}
tr > td {

    cursor: pointer;

    transition-duration: 0.1s;
    transition-property: text-shadow;

}
tr:hover > td {

    text-shadow: 0px 0px 1vw #e096c1,0px 0px 1vw #e096c1,0px 0px 1vw #e096c1,0px 0px 1vw #e096c1;

}
td > img {

    height: 3vw;
    right: 1vw;
    position: absolute;
    top: 0;

}

.name {

    font-size: 2vw;

}

#projectTable {

    margin: auto;

}